body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}
.pro{
  margin-top: 10%;
  margin-left: 4.5%;
}
.progress-bar{
  width: 55%;
  
}
#skills_card_text{
  margin-bottom: 0;
  margin-left: 3%;
  font-size: 1.2em;
  font-family: 'Belanosima', sans-serif;
}
.progress{
  margin: 1.5em;
  margin-top:0em;
}
.skills_card_main{
  margin-top: 5%;
}
.skills_main{
  margin-left: 5%;
  display: grid;
  grid-template-columns: auto auto;
}
.skills_progress,.skills_progress_1{
  display: flex;
  flex-direction: column;
}


.navbar_main{
  padding-top: 0.5%;
  width: 61.3%;
  background-color: #E0F0F1;
  padding-left: 3.5%;
}
.navbar_main2{
  width: 38.26vw;
  height: 4.8vh;
  background-color: #FFDE59;
}
#n_1{
  
  font-family: 'Belanosima', sans-serif;
  font-size: 1.2em;
  margin: 1.2em;
}
a:hover{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#li{
  color: black;
  opacity: 80%;
  font-size: 1.1em;
  font-family: 'Belanosima', sans-serif;
}
.head{
  display: grid;
  grid-template-columns: auto auto;
}
.image_1{
  background-color: #FFDE59;
  z-index: -1;
}
.image_2{
  padding: 2em;
}
.image_3{
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#img_s1{
width: 12vw;
opacity: 65%;
margin: 2em;
}
#image_text{
  margin-top: 20%;
  text-align: center;
  font-size: 2.5em;
  font-family: 'League Spartan', sans-serif;
}

.buttons{
  margin-top:7.5%;
}
#time{
  text-shadow: 0px 3px 4px grey;
  color: white;
  margin-bottom: 0;
  font-size: 1.3em;
  font-family: 'Belanosima', sans-serif;
}
ul{
  font-size: 1.1em;
  font-family: 'Belanosima', sans-serif;
  color: black;
}

#work{
  text-shadow: 0px 3px 4px grey;
  color: white;
  font-size: 1.4em;
  font-family: 'Belanosima', sans-serif;
}
.home_main{
  background-color: #E0F0F1;
}
.box1{
  text-decoration: none;
  font-family: 'Belanosima', sans-serif;
  background-color: #0CC0DF;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
  color: white;
  border-radius: 0.5em;
  font-size: 1.25em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 2em;
  padding-right: 2em;
}
.box2{
  text-decoration: none;
  font-size: 1.25em;
  font-family: 'Belanosima', sans-serif;
  background-color: #0CC0DF;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
  color: white;
  border-radius: 0.5em;
  margin-left: 5%;
  padding-top: 0.8em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 2em;
  padding-right: 2em;
}
#img_box{
  width:32vw;
  height: 100vh;
  position: relative;
  z-index: -1;
  float: right;
  background-color: #FFDE59;
}


.main{
  padding-top:4.5em;
  padding-left: 4em;
  background-color: #E0F0F1;
}

#text1{
  font-size: 1.6em;
  width: 30vw;
  padding-left: 0.2em;
  height:2.4vh;
  font-family: 'Belanosima', sans-serif;
  color: black;
  margin-bottom:3%;
}
#text11{
  font-size: 1.6em;
  height: 4.5vh;
  margin-top: 2%;
  padding-left: 0.2em;
  font-family: 'Belanosima', sans-serif;
  color: black;
  margin-bottom: 0;
}
#text12{
  font-size: 1.6em;
  padding-left: 0.2em;
  height: 5vh;
  font-family: 'Belanosima', sans-serif;
  color: black;
}
#text{
  font-size: 1.4em;
  height: 5vh;
}
#text2{
  height: 70px;
  font-size:25px;
  font-family: 'Playfair Display', serif;
}

#text3{
  font-family: 'League Spartan', sans-serif;
  font-size: 4em;
  margin-bottom: 0;
  text-shadow: 0px 3px 4px grey;
  color: black;
  opacity: 80%;
}
#text33{
  text-shadow: 0px 3px 4px grey;
  font-family: 'League Spartan', sans-serif;
  font-size: 3.9em;
  width: 50vw;
  color: black;
  opacity: 80%;
  margin-bottom: 0em;

}

#img1{
  width: 40vw;
  height: 70vh;
  margin-top: 20%;

}
.image_disp{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.social{
  width:30vw;
  margin-top:3em ;
  font-family: 'Belanosima', sans-serif;
  font-size: 2.1em;
  color: black;
  opacity: 85%;
  font-weight: bold;
}
.icons{
  margin-left:3.1em;
}
.icon_btn{
  width: 2vw;
  margin-left: 0.8em;
}
li{
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.515);
}
.collapse {
  padding-left: 500px;
  background-color:#eeeded;
}
#i1,#i2,#i3,#i4,#i5:hover{
  cursor: pointer;
}  

#navbar_bg{
  padding-top: 0px;
  padding-bottom: 12px;
}
#part1{
  margin-top: 2em;
  font-family: 'League Spartan', sans-serif;
  font-size: 1em;
  text-align: center;
  width: 40vw;
  margin-left: 13em;
}
#part2{
  font-family: 'League Spartan', sans-serif;
  margin-top: 3.5em;
  font-size: 1.3em;
  text-align: center;
  width: 40vw;
  margin-left: 10.2em;
}
.underline{
  width: 60vw;
  height: 0.1em;
  background-color: black;
  margin-left :7.6em ;
}
#para2{
  font-size: 30px;
  color: black;
  font-family: 'Playfair Display', serif;
}
#exp-img{
  width: 38vw;
  margin-top: 13em;
  margin-left: 2em;
  margin-right: 3em;
}
.exp_comp{
  display: grid;
  grid-template-columns: auto auto;
  
}
.card-text_exp{
  font-size: 1.3em;
}
.card-body_exp{
  padding: 2em;
  background-color:#52daf1;

}
.card-body_exp{
  padding-top: 0.2%;
}
.experience_heading{
  margin-top: 13em;
  margin-left: 5em;
}
#experience_title{
  color: white;
  font-size: 1.9em;
  text-shadow: 0px 3px 4px grey;
}
.experience_box{
  display: grid;
}
#exp_btn{
  margin-top: 0.5em;
  margin-left: 12em;
  text-decoration: none;
  font-size: 1.1em;
  font-family: 'Belanosima', sans-serif;
  background-color: white;
  border-radius: 7px;
  color: black;
  padding: 0.9em;
  display: inline-block;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
}
.exp_card{
  display: flex;
  width: 80%;
  margin-left:5em;
  margin-bottom: 5em;
}

.exp{
  margin-top: 175px;
  padding-top: 55px;
  padding-left: 80px;
   padding-bottom: 200px;
  background-color: #FFF6FF;
}
#p2,#p1{
  font-size: 1.9em;
  font-family: 'Belanosima', sans-serif;
}
#p2{
  padding-left: 0.2%;
}
#p1{
  margin-bottom: 0em;
  
}
#p3{
  margin-top: 0.2%;
  text-shadow: 0px 3px 4px grey;
  font-family: 'League Spartan', sans-serif;
  font-size: 3.5em;
  margin-bottom: 0%;
}

.project_card{
  display: grid;
  grid-template-columns: auto auto auto;
}
#project_card_text3{
  font-size: 0.8em;
}
#project_card_text2{
  font-size: 0.8em;
}
#abt_txt{
  font-size: 1.7em;
}

.project{
  width: 60vw;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.9em;
}
#pro1{
  height: 21px;
  font-size: 0.9em;
  font-family: 'Belanosima', sans-serif;
}
.line3{
  width: 70vw;
  height: 0.2vh;
  margin-left: 4.5em;
  margin-top: 0.3em;
  background-color:black;
  opacity: 12%;
}
.pro2{
  font-family: 'League Spartan', sans-serif;
  text-align: center;
  margin-left: 10em;
  width: 50vw;
}
.card,.card2{
  display: grid;
  width: 90%;
  margin-top: 2em;
  margin-left: 3.6em;
  box-shadow: -11px 12px 26px -19px black, 14px -11px 19px -19px black;
}
.card2{
  width: 40%;
  padding: 0.8em;
}
.link{
  margin: 0.3em;
  margin-left: 0.5em;
}
.card-text{
  font-size: 0.72em;
  font-family: 'Belanosima', sans-serif;
  opacity: 85%;
}
.project_image1{
  padding: 0.2em;
}
.card-title{
  margin-top: 5%;
  font-size: 1.2em;
  font-family: 'League Spartan', sans-serif;
}
#btn1,#btn_2,#btn_1{
  padding: 1em;
  margin: 1em;
  text-decoration: none;
  font-size: 0.5em;
  font-family: 'Belanosima', sans-serif;
  background-color:#0CC0DF;
  border-radius: 7px;
  color: white;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);

}
#btn_1{
  background-color: #FFDE59
}
#btn_2{
  background-color: #000000;
}
#btn1:hover,#btn2:hover{
  opacity: 91%;
  box-shadow:0px 1.6px 7px 0.2px rgba(76, 74, 74, 0.619); 
} 
#btn2{
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Belanosima', sans-serif;
  background-color: rgb(143, 42, 245);
  border-radius: 7px;
  color: white;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
}
.abt_card{
  display: flex;
  width:70%;
  height: 50%;
  box-shadow: -11px 12px 26px -19px black, 14px -11px 19px -19px black;
  margin-left: 7%;
}
.card-body_abt{
padding:6em;
}
.about_card{
  margin-bottom: 12%;
  margin-top: 10%;
  margin-left: 14%;
}
#a1{
  font-size: 36px;
  font-family: 'League Spartan', sans-serif;
}
.line4{
  width: 1100px;
  height: 2px;
  margin-left: 95px;
  margin-top: 11px;
  background-color:black;
  opacity: 22%;

}
#img_1{
    width: 200px;
    height: 225px;
    margin-top: 100px;
    margin-left: 110px;
    border-radius: 50%;
    box-shadow: -1px 4px 24px -3px black;
}
.line5{
  position: absolute;
  width: 2px;
  height: 340px;
  background-color: black;
  left: 50%;
  bottom: 8%;
}
.about_card_text{
  display: grid;
  grid-template-columns: auto
}


.main7{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 1.5em;
}
#n1{
  font-size: 1.4em;
  font-family: 'Playfair Display', serif;
  color:white;
  height: 3.5vh;
}
#n2{
  font-size: 1em;
  font-family: 'Playfair Display', serif;
  color: white;
  opacity: 70%;
}
.name{
  padding: 2em;
  width: 40%;
}
.copy{
  color: white;
  font-size: 1.2em;
  font-family: 'Playfair Display', serif;
  opacity: 65%;
  margin-top: 10%;
  margin-left: 20%;
}
#I1,#I2,#I3,#I4{
padding: 0.55em;
margin: 0.2em;
}
.socialss{
margin-top: 8%;
margin-left: 25%;
} 
.card-body{
  padding: 2em;
}
@media screen and (min-width:320px) and (max-width:420px){
  .project_card{
    margin-left: 8%;
    grid-template-columns: auto;
  }
  #part1,#part2{
    margin-left: 40%;
    margin-bottom: 0px;
  }
  .pro2{
    margin-left: 10%;
    width: 90vw;
    font-size:24px ;
  }
  .line3{
    margin-left: 10%;
    width: 80vw;
  }
  .card{
    width:90vw;
    margin-left:0.4%;
  }
  .underline{
    margin-left: 30%;
    width: 70vw;
  }
  .exp_comp{
    grid-template-columns:auto;
  }
  .exp_card{
    margin-top: 2em;
    margin-left: 10%;
  }
  #exp-img{
    width: 80vw;
    height: 40vh;
    margin-top: 2%;
  }
  #exp_btn{
    margin-left: 14%;
  }
  .card-text_exp{
    padding-left: 0;
  }#li{
    width: 100%;
  }
  
  #p3{
    font-size: 1.7em;
  }
  #text3,#text33{
    font-size: 1.3em;
  }
  #text3{
    margin-bottom: 0%;
  }
  #text33{
    width: 60vw;
  }
  .main{
    margin-left:8%;
    margin-top: 20%;
  }
  #text1{
    font-size: 0.6em;
    width: 65vw;
    margin-bottom: 0.1%;
    height: 1.8vh;
  }
  #text11{
    font-size: 0.6em;
    width: 65vw;
    margin-bottom: 0;
    height: 3.4vh;
  }
  .buttons{
    margin-top: 0;
  }
  .box1,.box2{
    font-size: 0.5em;
    padding-top:0.5em ;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  #img1{
    width: 45vw;
    margin-left: 0%;

  }

  .social{
    margin-top: 35%;
    font-size: 1.2em;
    width: 150%;
    margin-left: 6%;
  }
  .icons{
    margin-left: 20%;
  }
  .icon_btn{
    width: 5vw;
  }
  .abt_card{
    width: 90%;
    margin-left: 1%;
  }
  .card-body_abt{
    padding:2.5em;
  }
  .about_card{
    margin-left: 7%;
  }
  .main7{
    padding: 1%;
    grid-template-columns: auto;
  }
  .name{
    padding-left:5%;
    padding-bottom: 1.5%;
  }
  #n1{
    width:40vw;
    height: 1vh;
    font-size: 0.8em
  }
  #n2{
    font-size: 0.8em;
  }
  .copy{
    font-size: 1em;
    margin-top: 0.3%;
    margin-left: 6%;
  }
  .socialss{
    margin-left: 3%;
  }
  #I1,#I2,#I3,#I4{
    padding: 0.6em;
    margin: 0.1em;
  }
}
