body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.head{
  display: grid;
  grid-template-columns: auto auto;
}
.image{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 12%;
  margin-left: 6%;
}
.image_2{
  padding: 2em;
}
.image_3{
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#img_s1{
width: 12vw;
opacity: 65%;
margin: 2em;
}
#image_text{
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
}
#image_text_2{
  font-size: 1.8rem;
  font-family:'Playfair Display', serif ;
}
.buttons{
  margin-top: 4em;
}

.box1{
  text-decoration: none;
  font-family:'Playfair Display', serif ;
  background-color: rgb(143, 42, 245);
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
  color: white;
  border-radius: 1em;
  font-size: 1em;
  padding: 1.5em;
}
.box2{
  text-decoration: none;
  font-family:'Playfair Display', serif ;
  background-color: white;
  border: 1px solid rgb(143, 42, 245) ;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
  color: black;
  border-radius: 1em;
  padding: 1.5em;
  margin-left: 3.2em;
}


.main{
  margin-top:6.5em;
  margin-left: 4em;
}

#text1{
  font-size: 1.4em;
  width: 30vw;
  padding-left: 0.2em;
  height: 3.8vh;
  font-family: 'Playfair Display', serif;
  color: black;
}
#text11{
  font-size: 1.4em;
  width: 30vw;
  padding-left: 0.2em;
  height: 5vh;
  font-family: 'Playfair Display', serif;
  color: black;
}
#text{
  font-size: 1.4em;
  height: 5vh;
}
#text2{
  height: 70px;
  font-size:25px;
  font-family: 'Playfair Display', serif;
}

#text3{
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-shadow: 0px 3px 4px grey;
  color: black;
  opacity: 80%;
}
#text33{
  text-shadow: 0px 3px 4px grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  width: 50vw;
  color: black;
  opacity: 80%;
  margin-bottom: 0em;

}
#img1{
  width: 90%;
  margin-left:2em;
}
.image_disp{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.social{
  width:30vw;
  margin-top:4em ;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  color: black;
  opacity: 85%;
}
.icons{
  margin-left:3.1em;
}
.icon_btn{
  width: 2vw;
  margin-left: 0.8em;
}
li{
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.515);
}
.collapse {
  padding-left: 500px;
  background-color:#eeeded;
}
#i1,#i2,#i3,#i4,#i5:hover{
  cursor: pointer;
}  

#navbar_bg{
  padding-top: 0px;
  padding-bottom: 12px;
}
#part1{
  margin-top: 6.5em;
  font-size: 0.74em;
  text-align: center;
  width: 40vw;
  margin-left: 19em;
}
.underline{
  width: 60vw;
  height: 0.1em;
  background-color: black;
  margin-left :9.1em ;
}
.main2{
  margin-top: 80px;
  margin-left: 80px;
  padding-top: 50px;
}
.para{ 
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  width:800px;
  animation: animation1;
}
#para2{
  font-size: 30px;
  color: black;
  font-family: 'Playfair Display', serif;
}
#line{
  height: 1px;
  width:1200px;
  background-color:black;
  margin-top: 20px;
}
#exp-img{
  width: 38vw;
  margin-top: 13em;
  margin-left: 2em;
  margin-right: 3em;
}
.exp_comp{
  display: grid;
  grid-template-columns: auto auto;
}
.card-text_exp{
  font-size: 1.3em;
}
.card-body_exp{
  padding: 2em;
}
.experience_heading{
  margin-top: 13em;
  margin-left: 5em;
}
.experience_box{
  display: grid;
}
#exp_btn{
  text-decoration: none;
  font-size: 1.1em;
  font-family:'Playfair Display', serif ;
  background-color: rgb(143, 42, 245);
  border-radius: 7px;
  color: white;
  padding: 0.9em;
  display: inline-block;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
}
.exp_card{
  display: flex;
  width: 80%;
  margin-left:5em;
  margin-bottom: 5em;
}
.exp{
  margin-top: 175px;
  padding-top: 55px;
  padding-left: 80px;
   padding-bottom: 200px;
  background-color: #FFF6FF;
}
#p2,#p1{
  font-size: 30px;
  font-family: 'Playfair Display', serif ;
}
#p2{
  padding-left: 3px;
}
#p1{
  margin-bottom: 0em;
}
#p3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
}
.line1{
  width: 250px;
  height: 2px;
  background-color:grey;
  margin-left: 18px;
  margin-bottom: 15px;
}

.project_card{
  display: grid;
  grid-template-columns: auto auto auto;
}

#project_card_text3{
  font-size: 0.8em;
}
#project_card_text2{
  font-size: 0.8em;
}
.btn3{
  height: 50px;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
  margin-left: 80px;
}
.pro{
   margin-top: 200px;
}
.project{
  width: 60vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9em;
}
#pro1{
  height: 21px;
  font-size: 0.9em;
  font-family: 'Playfair Display', serif;
}
.line3{
  width: 70vw;
  height: 0.2vh;
  margin-left: 4.5em;
  margin-top: 0.3em;
  background-color:black;
  opacity: 12%;
}
.pro2{
  margin-left: 14em;
  width: 50vw;
}
.card{
  display: grid;
  width: 90%;
  margin-top: 2em;
  margin-left: 3.6em;
  box-shadow: -11px 12px 26px -19px black, 14px -11px 19px -19px black;
}
.link{
  margin: 0.3em;
  margin-left: 1em;
}
.card-text{
  font-size: 0.72em;
  font-family: 'Playfair Display', serif;
}
.card-title{
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
}
#btn1{
  padding: 1em;
  margin: 1em;
  text-decoration: none;
  font-size: 0.5em;
  font-family:'Playfair Display', serif ;
  background-color: rgb(143, 42, 245);
  border-radius: 7px;
  color: white;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);

}
#btn1:hover,#btn2:hover{
  opacity: 91%;
  box-shadow:0px 1.6px 7px 0.2px rgba(76, 74, 74, 0.619); 
} 
#btn2{
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-size: 17px;
  font-family:'Playfair Display', serif ;
  background-color: rgb(143, 42, 245);
  border-radius: 7px;
  color: white;
  box-shadow:0px 3.6px 12px 0.2px rgba(76, 74, 74, 0.619);
}
.abt_card{
  display: flex;
  width:70%;
  height: 50%;
  box-shadow: -11px 12px 26px -19px black, 14px -11px 19px -19px black;
  margin-left: 7%;
}
.card-body_abt{
padding:6em;
}
.about_card{
  margin-bottom: 12%;
  margin-top: 10%;
  margin-left: 14%;
}
#a1{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
.line4{
  width: 1100px;
  height: 2px;
  margin-left: 95px;
  margin-top: 11px;
  background-color:black;
  opacity: 22%;

}
#img_1{
    width: 200px;
    height: 225px;
    margin-top: 100px;
    margin-left: 110px;
    border-radius: 50%;
    box-shadow: -1px 4px 24px -3px black;
}
.line5{
  position: absolute;
  width: 2px;
  height: 340px;
  background-color: black;
  left: 50%;
  bottom: 8%;
}

.main7{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 1.5em;
}
#n1{
  font-size: 1.4em;
  font-family: 'Playfair Display', serif;
  color:white;
  height: 3.5vh;
}
#n2{
  font-size: 1em;
  font-family: 'Playfair Display', serif;
  color: white;
  opacity: 70%;
}
.name{
  padding: 2em;
  width: 40%;
}
.copy{
  color: white;
  font-size: 1.2em;
  font-family: 'Playfair Display', serif;
  opacity: 65%;
  margin-top: 10%;
  margin-left: 20%;
}
#I1,#I2,#I3,#I4{
padding: 0.55em;
margin: 0.2em;
}
.socialss{
margin-top: 8%;
margin-left: 25%;
} 
.card-body{
  padding: 2em;
}
@media screen and (min-width:320px) and (max-width:420px){
  .project_card{
    margin-left: 8%;
    grid-template-columns: auto;
  }
  #part1{
    margin-left: 40%;
    margin-bottom: 0px;
  }
  .pro2{
    margin-left: 20%;
    width: 90vw;
    font-size:24px ;
  }
  .line3{
    margin-left: 20%;
    width: 80vw;
  }
  .card{
    width:90vw;
    margin-left:7%;
  }
  .underline{
    margin-left: 30%;
    width: 70vw;
  }
  .exp_comp{
    grid-template-columns:auto;
  }
  .exp_card{
    margin-left: 10%;
  }
  #exp-img{
    width: 80vw;
    height: 50vh;
    margin-top: 2%;
  }
  #p3{
    font-size: 1.7em;
  }
  #text3,#text33{
    font-size: 1.3em;
  }
  #text33{
    width: 60vw;
  }
  .main{
    margin-left:8%;
    margin-top: 20%;
  }
  #text1,#text11{
    font-size: 0.8em;
  }
  #text1{
    width: 65vw;
    margin-bottom: 0.1%;
    height: 2.4vh;
  }
  #text11{
    width: 65vw;
  }
  .buttons{
    margin-top: 2em;
  }
  .box1,.box2{
    width: 20vw;
    height: 8vh;
    font-size: 0.8em;
  }
  #img1{
    width: 45vw;
    margin-left: 0%;

  }
  .social{
    margin-top: 35%;
    font-size: 1.2em;
    width: 150%;
    margin-left: 6%;
  }
  .icons{
    margin-left: 20%;
  }
  .icon_btn{
    width: 5vw;
  }
  .abt_card{
    width: 90%;
    margin-left: 1%;
  }
  .card-body_abt{
    padding:2.5em;
  }
  .about_card{
    margin-left: 7%;
  }
  .main7{
    padding: 1%;
    grid-template-columns: auto;
  }
  .name{
    padding-left:5%;
    padding-bottom: 1.5%;
  }
  #n1{
    width:40vw;
    height: 1vh;
    font-size: 0.8em
  }
  #n2{
    font-size: 0.8em;
  }
  .copy{
    font-size: 1em;
    margin-top: 0.3%;
    margin-left: 6%;
  }
  .socialss{
    margin-left: 3%;
  }
  #I1,#I2,#I3,#I4{
    padding: 0.6em;
    margin: 0.1em;
  }
}
